In [1]:
fruits = ['apple','banana','cherry','date','mango']
for i in fruits:
    print(i)

apple
banana
cherry
date
mango

In [2]:
fruits = ['apple','banana','cherry','date','mango']
for i in fruits:
    print(i, end=" ")

apple banana cherry date mango

In [3]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [4]:
for i in  range(2,12):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [5]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [6]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [7]:
for i in range(10):
    print("shivansh")

shivansh
shivansh
shivansh
shivansh
shivansh
shivansh
shivansh
shivansh
shivansh
shivansh

In [8]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [9]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

- BREAK & CONTINUE

In [10]:
fruits = ['apple','banana','cherry','date','mango','onion','kiwi','apple']
for i in fruits:
    if i == 'onion':
        break
    print(i)

apple
banana
cherry
date
mango

In [11]:
fruits = ['apple','banana','cherry','date','mango','onion','kiwi','apple']
for i in fruits:
    if i == 'onion':
        continue
    print(i)

apple
banana
cherry
date
mango
kiwi
apple