- how to create dictionary 
- how to acces pairs in dictionary
- how to run a loop in dictionary
- how to make a nested dictionary
- indexcing in dictionary

In [1]:
student = {
    "name" : "alice",
    "age" : 20,
    "course" : "bca",
    "marks" : 87

}
print(student)

{'name': 'alice', 'age': 20, 'course': 'bca', 'marks': 87}

In [2]:
info = dict(name = input("enter the name"), age = 20, course = "mba", marks = 29)
print(info)

{'name': 'escape', 'age': 20, 'course': 'mba', 'marks': 29}

In [3]:
temp = {
    'lucknow':[30,36,48],
    'delhi':[35,45,50],
    'chennai':[28,29,30]

}
print(temp)

{'lucknow': [30, 36, 48], 'delhi': [35, 45, 50], 'chennai': [28, 29, 30]}

In [17]:
# 1st method to acces value through key
info['name']
info['age']

20

In [5]:
# 2nd method 
info.get("name")
info.get("course")

'mba'

In [6]:
# adding new key and value pair in the dictionary
info['city'] = "lucknow"

In [7]:
print(info)

{'name': 'escape', 'age': 20, 'course': 'mba', 'marks': 29, 'city': 'lucknow'}

In [8]:
for i in student:
    print(i)

name
age
course
marks

In [9]:
for i,j in student.items():
    print(f'{i} : {j}')

name : alice
age : 20
course : bca
marks : 87

In [10]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'course', 'marks'])
dict_values(['alice', 20, 'bca', 87])
dict_items([('name', 'alice'), ('age', 20), ('course', 'bca'), ('marks', 87)])

In [11]:
company = {
    'emp001' : {
        'name' : 'alice',
        'dept' : 'finance',
        'salary' : 55000
    },
    'emp002' : {
        'name' : 'bob',
        'dept' : 'marketing',
        'salary' : 45000
    },
    'emp003' : {
        'name': 'smith',
        'dept' : 'IT',
        'SALARY' : 60000
    }
}
print(company)

{'emp001': {'name': 'alice', 'dept': 'finance', 'salary': 55000}, 'emp002': {'name': 'bob', 'dept': 'marketing', 'salary': 45000}, 'emp003': {'name': 'smith', 'dept': 'IT', 'SALARY': 60000}}

In [12]:
from pprint import pprint

In [13]:
pprint(company)

{'emp001': {'dept': 'finance', 'name': 'alice', 'salary': 55000},
 'emp002': {'dept': 'marketing', 'name': 'bob', 'salary': 45000},
 'emp003': {'SALARY': 60000, 'dept': 'IT', 'name': 'smith'}}

In [14]:
company['eemp004'] = { 'name' : 'raghav', 'dept' : 'sales' , 'salary' : 25000}
pprint(company)

{'eemp004': {'dept': 'sales', 'name': 'raghav', 'salary': 25000},
 'emp001': {'dept': 'finance', 'name': 'alice', 'salary': 55000},
 'emp002': {'dept': 'marketing', 'name': 'bob', 'salary': 45000},
 'emp003': {'SALARY': 60000, 'dept': 'IT', 'name': 'smith'}}

In [15]:
company['emp002']['dept']

'marketing'

In [16]:
print(sum(temp['lucknow'])/len(temp['lucknow']))

38.0