- how to create dictionary 
- how to acces pairs in dictionary
- how to run a loop in dictionary
- how to make a nested dictionary
- indexcing in dictionary

In [3]:
student = {
    "name" : "alice",
    "age" : 20,
    "course" : "bca",
    "marks" : 87

}
print(student)

{'name': 'alice', 'age': 20, 'course': 'bca', 'marks': 87}

In [4]:
info = dict(name = input("enter the name"), age = 20, course = "mba", marks = 29)
print(info)

{'name': 'alice', 'age': 20, 'course': 'mba', 'marks': 29}

In [6]:
temp = {
    'lucknow':[30,36,48],
    'delhi':[35,45,50],
    'chennai':[28,29,30]

}
print(temp)

{'lucknow': [30, 36, 48], 'delhi': [35, 45, 50], 'chennai': [28, 29, 30]}

In [8]:
# 1st method to acces value through key
info['name']
info['age']

20

In [11]:
# 2nd method 
info.get("name")
info.get("course")

'mba'

In [12]:
# adding new key and value pair in the dictionary
info['city'] = "lucknow"

In [13]:
print(info)

{'name': 'alice', 'age': 20, 'course': 'mba', 'marks': 29, 'city': 'lucknow'}